* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #fafbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

footer {
  width: 100%;
  padding: 2rem 0rem;
  background-color: #fafbff;
  text-align: center;
}
